// ––––––––––––––––––––––––––––––––––––
// Font Weight
// ––––––––––––––––––––––––––––––––––––

.regular { font-weight: 400; } // Nova
.medium  { font-weight: 500; } // Cond
.semi    { font-weight: 600; } // Nova
.bold    { font-weight: 700; } // Nova
.ex-bold { font-weight: 800; } // Cond
