// ––––––––––––––––––––––––––––––––––––
// Font Weight
// ––––––––––––––––––––––––––––––––––––

.regular { font-weight: 400; } // Nova
.semi    { font-weight: 600; } // Nova
.bold    { font-weight: 700; } // Nova
