// ––––––––––––––––––––––––––––––––––––
// Miscellaneous
// - display
// - shadow
// - z-index
// - hover
// - border
// - text-align
// - text-transform
// - text-decoration
// - letter-spacing
// ––––––––––––––––––––––––––––––––––––

// Display
.block         { display: block; }
.inline-block  { display: inline-block; }

// Shadow
.shadow { box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05); }
.hover-shadow-dark:hover { box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1); }

// Opacity
.opacity-min { opacity: 0.175; }

// Overflow
.overflow-hidden { overflow: hidden; }

// z-index Properties
.z1 { z-index: 1; }
.z2 { z-index: 2; }

// Hover Effects
.hover-opacity:hover { opacity: 0.65; }

// Border Properties
// Border Colors go to colors.scss
.rounded { border-radius: 3px; }
.round   { border-radius: 50%; }

.border           { border: 1px solid; }
.border-top       { border-top-width: 1px; border-top-style: solid; }
.border-left      { border-left-width: 1px; border-left-style: solid; }
.border-left-none { border-left: none; }
.border-right     { border-right-width: 1px; border-right-style: solid;}
.border-bottom    { border-bottom-width: 1px; border-bottom-style: solid;}

// Text Align
.center         { text-align: center; }
.left-align     { text-align: left; }
.right-align    { text-align: right; }

@media screen and (min-width: $mobile) {
  .sm-center         { text-align: center; }
  .sm-right-align    { text-align: right; }
}

// Letter Spacing
.spaced         { letter-spacing: 1.5px; }
.spaced-small   { letter-spacing: 0.25px; }
.spaced-tight   { letter-spacing: -0.5px; }
.spaced-large   { letter-spacing: 3px; }

// Text Decoration
// This is supposed to be text-decoration
// But spacing with text-decoration is messed up
// So we use border-bottom
.underline { border-bottom: 1px solid; }

// Text Transform
.uppercase { text-transform: uppercase; }

// Transition
.transition-all       { transition: all 0.2s ease; }
.transition-header    { transition: all 0.2s ease; }
.transition-transform { transition: transform 1s ease; }

// Transform
.transformY-neg-200per { transform: translateY(-200%); }
.transformY-0          { transform: translateY(0); }
