// ––––––––––––––––––––––––––––––––––––
// Position
// ––––––––––––––––––––––––––––––––––––

.absolute { position: absolute; }
.relative { position: relative; }
.fixed    { position: fixed; }


.t0       { top: 0; }
.t100vh   { top: 100vh; }
.t50-y50  { top: 50%; transform: translateY(-50%); }

.l0       { left: 0; }
.r0       { right: 0; }
.b0       { bottom: 0; }

@media screen and (min-width: $mobile) {
  .sm-b6       { bottom: 3rem; }
}

