@charset "utf-8";

@import  "normalize";
@import  "variables";
@import  "misc";
@import  "colors";
@import  "general";
@import  "position";
@import  "flex";
@import  "link";
@import  "list";
@import  "input";
@import  "hide";
@import  "size";
@import  "background";
@import  "padding";
@import  "margin";
@import  "code";
@import  "animation";

// Typography
@import  "font-size";
@import  "font-weight";
@import  "font-family";
@import  "line-height";

// Article Styles
@import  "articles";

// Syntax Highlight
@import  "syntax-highlighting";

#canvas {
  margin: 100px;
  margin-top: 140px;
  opacity: 0;
  transition: opacity 1s ease;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;

  @media screen and (max-width: 600px) {
    display: none;
  }
}
