%footer
  .max-w-1200px.w-100.mx-auto.flex.flex-column.fade-in-up
    %hr.w-100.m0.border-top.border-grey-light.border-left-none
    .w-100.flex.justify-between.items-baseline.font-small.spaced.uppercase.semi
      = link_to "#{DateTime.now.year} © NetEngine", "//netengine.com.au", class: "mt4 sm-mt3 sm-mb6 xs-p0 md-p0 lg-p0"
      = link_to "Get your ticket", "#", class: "mt4 sm-mt3 sm-mb6 xs-p0 md-p0 lg-p0 underline border-grey hover-border-grey-darker"
