%footer.flex.flex-wrap.justify-between.font-small.spaced.uppercase.semi.my4.sm-my6.px3.sm-px0.fade-in-up
  %span.pb4.xs-p0.md-p0.lg-p0= link_to "#{DateTime.now.year} © NetEngine", "//netengine.com.au"
