%footer
  .max-w-1200px.w-100.mx-auto.px3.flex.flex-column.fade-in-up
    %hr.w-100.m0.border-top.border-grey-light.border-left-none
    .w-100.flex.flex-wrap.justify-between.items-baseline.font-small.spaced.uppercase.semi
      %span.mt2.mb4.sm-mb6.p0
        #{DateTime.now.year} ©
        = link_to "Netengine", "//netengine.com.au"

      %span.mt0.mb4.sm-mb6.p0 See you there! 🙌
