%header.relative.z2.max-w-1200px.w-100.flex.flex-wrap.justify-between.mt4.sm-my6.mx-auto.px3.sm-px0.fade-in-up
  %ul.no-list-type.flex.flex-wrap.items-baseline.self-start.m0.pb3.sm-pb0.font-small.semi.spaced.uppercase
    %li.mr9
      = link_to "Film", "#about-the-film"
    %li.mr9
      = link_to "Event", "#event-details"
    %li.mr9
      = link_to "Schedule", "#event-schedule"
    %li.mr9
      = link_to "Partners", "#event-partners"
    / %li
    /   = link_to "Team", "#the-team"
