%header.max-w-1200px.min-h-100.sm-px6.flex.flex-wrap.justify-between.my4.sm-my6.px3.sm-px0.fade-in-up
  %ul.no-list-type.flex.flex-wrap.items-baseline.m0.pb3.sm-pb0.font-small.semi.spaced.uppercase
    %li.mr9
      = link_to "Film", "#"
    %li.mr9
      = link_to "Event", "#"
    %li.mr9
      = link_to "Sponsors", "#"
    %li.mr9
      = link_to "Team", "#"
