/ Robots
%meta{ name: "robots", content: "all" }
%meta{ name: "location", content: "Brisbane, Australia" }
%meta{ name: "revisit-after", content: "2 days" }

/ SEO
%meta{ name: "author", content: "NetEngine" }
%meta{ name: "description", content: "DESIGN DISRUPTORS Brisbane Premier | DESIGN DISRUPTORS is a new documentary about the rising importance of design as a competitive advantage in disruptive technologies. Learn about the design process and product designers at the world's most disruptive products, like Google, Twitter, Airbnb, Spotify, and more." }
%meta{ name: "keywords", content: "design disruptors, invision, documentary, screening, brisbane, australia" }

/ Twitter Card data
%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@im_felix" }
%meta{ name: "twitter:creator", content: "@im_felix" }
%meta{ name: "twitter:title", content: "Design Disruptors | Brisbane | 28 July 2016" }
%meta{ name: "twitter:image", content: "http://designdisruptors.com.au/assets/images/summary-card.png" }
%meta{ name: "twitter:description", content: "DESIGN DISRUPTORS Brisbane Premier | DESIGN DISRUPTORS is a new documentary about the rising importance of design as a competitive advantage in disruptive technologies. Learn about the design process and product designers at the world's most disruptive products, like Google, Twitter, Airbnb, Spotify, and more." }

/ Facebook Card data
%meta{ property: "og:title", content: "Design Disruptors | Brisbane | 28 July 2016" }
%meta{ property: "og:type", content: "website" }
/ TODO: UPDATE OG:URL
/ %meta{ property: "og:url", content: "..." }
%meta{ property: "og:site-name", content: "Design Disruptors | Brisbane | 28 July 2016" }
%meta{ property: "og:image", content: "http://net-engine.github.io/designdisruptors-brisbane/assets/images/summary_card.png" }
%meta{ property: "og:description", content: "DESIGN DISRUPTORS Brisbane Premier | DESIGN DISRUPTORS is a new documentary about the rising importance of design as a competitive advantage in disruptive technologies. Learn about the design process and product designers at the world's most disruptive products, like Google, Twitter, Airbnb, Spotify, and more." }
