%a{ name: "about-the-film" }
%section.w-100.bg-grey-darker
  .max-w-1200px.mx-auto.min-h-100vh.flex.flex-auto.justify-between.py24.fade-in-up
    %h1.w-45.flex.flex-column.my0.font-title.white.uppercase.right-align.line-height-title.self-start
      %span About
      %span the film

    %article.w-45.mt36.mb0.semi.line-height-large.spaced-large.uppercase.white.self-start
      %p
        The future of business is being written by companies and products that—intentionally or not— shake billion dollar industries. In Design Disruptors, enter the world of 15+ industry-toppling companies—valued at more than $1 trillion dollars combined—with one unifying secret advantage:
        %br
        %a.bold.grey-lighter.underline.hover-grey{ href: "#watch-the-trailer"} the transformative power of design.

      %p Design Disruptors reveals a never-before-seen perspective on the design approaches of these companies and how they are overtaking billion dollar industries through design.
