%a{ name: "about-the-film" }
%section.relative.w-100.fade-in-up
  .absolute.h-100.min-h-100vh.w-50.flex.flex-wrap.xs-hide
    .w-50.opacity-min.bg-no-repeat.bg-left-center.bg-cover{ style: "background-image: url('https://www.invisionapp.com/subsystems/design_disruptors_new/assets/img/video-poster-4.jpg')" }
    .w-50.opacity-min.bg-no-repeat.bg-center.bg-cover{ style: "background-image: url('https://www.invisionapp.com/subsystems/design_disruptors_new/assets/img/video-poster-5.jpg')" }
    .w-50.opacity-min.bg-no-repeat.bg-center.bg-cover{ style: "background-image: url('https://www.invisionapp.com/subsystems/design_disruptors_new/assets/img/video-poster-2.jpg')" }
    .w-50.opacity-min.bg-no-repeat.bg-center.bg-cover{ style: "background-image: url('https://www.invisionapp.com/subsystems/design_disruptors_new/assets/img/video-poster-3.jpg')" }

  .max-w-1200px.mx-auto.min-h-100vh.flex.flex-auto.sm-justify-between.fade-in-up.flex-wrap.xs-flex-column.px3.py12.sm-py24
    %h1.w-100.sm-w-45.flex.flex-column.my0.font-triple.sm-font-title.grey-darker.uppercase.left-align.sm-right-align.line-height-title.self-start
      %span About
      %span the film

    %article.w-100.sm-w-45.mt6.sm-mt36.mb0.semi.line-height-large.spaced-large.uppercase.grey-darker.self-start
      %p.mt0.mb6
        The future of business is being written by companies and products that—intentionally or not— shake billion dollar industries. In Design Disruptors, enter the world of 15+ industry-toppling companies—valued at more than $1 trillion dollars combined—with one unifying secret advantage:
        %br
        %a.bold.grey.underline.hover-grey{ href: "#watch-the-trailer"} the transformative power of design.

      %p.my0 Design Disruptors reveals a never-before-seen perspective on the design approaches of these companies and how they are overtaking billion dollar industries through design.
