.h-100vh.flex.flex-auto.justify-between.py12.fade-in-up
  %h1.w-45.flex.flex-column.m0.font-title.grey-light.uppercase.right-align.line-height-title
    %span About
    %span the film

  %article.w-50.pt12.semi.line-height-large.spaced-large.uppercase
    %p
      The future of business is being written by companies and products that—intentionally or not— shake billion dollar industries. In Design Disruptors, enter the world of 15+ industry-toppling companies—valued at more than $1 trillion dollars combined—with one unifying secret advantage:
      %br
      %span.bold.grey the transformative power of design.

    %p Design Disruptors reveals a never-before-seen perspective on the design approaches of these companies and how they are overtaking billion dollar industries through design.



