%a{ name: "event-details" }
%section.relative.w-100.bg-grey-darker.fade-in-up.xs-hide
  .absolute.h-100.min-h-100vh.w-50.flex.flex-wrap
    .w-100.opacity-min.bg-no-repeat.bg-left-center.bg-cover{ style: "background-image: url('/assets/images/advanced-engineering-building-1.png')" }
    .w-100.opacity-min.bg-no-repeat.bg-center.bg-cover{ style: "background-image: url('/assets/images/advanced-engineering-building-2.png')" }

%section.w-100.bg-grey-darker
  .max-w-1200px.mx-auto.min-h-100vh.flex.flex-auto.justify-between.xs-flex-column.px3.sm-px0.py12.sm-py24.fade-in-up
    %h1.w-100.sm-w-45.flex.flex-column.my0.font-triple.sm-font-title.white.uppercase.left-align.sm-right-align.line-height-title.self-start
      %span Event
      %span details

    %article.w-100.sm-w-45.mt6.sm-mt36.mb0.flex.flex-column.semi.line-height-large.spaced-large.uppercase.white.self-start
      .flex.flex-column.mt0.mb4
        %h6.my0.semi.font-small.sm-font-base.grey-light Fee
        %p.my0.bold.white.font-base.sm-font-large Free for all
      .flex.flex-column.mt0.mb4
        %h6.my0.semi.font-small.sm-font-base.grey-light Date
        %p.my0.bold.white.font-base.sm-font-large 6:00PM — 28 July 2016
      .flex.flex-column.mt0.mb4
        %h6.my0.semi.font-small.sm-font-base.grey-light Location
        %p.my0.bold.white.font-base.sm-font-large
          GHD Auditorium
          %br.sm-hide
          (Building 49),
          %br
          The University of Queensland, Brisbane
      .flex.flex-wrap.my0
        = link_to "Getting to University of Queensland", "//www.uq.edu.au/maps/directions.html?menu=1", class: "font-small py1 px2 border border-white white hover-white bg-transparent transition-all hover-opacity mr6 mb3"
        = link_to "Google Maps", "//www.google.com.au/maps/place/Advanced+Engineering+Bldg,+St+Lucia+QLD+4067/@-27.4996257,153.0143914,18.29z/data=!4m5!3m4!1s0x6b915a78ace97cf9:0xd781053270b219b4!8m2!3d-27.4995096!4d153.0152085", class: "font-small py1 px2 border border-white white hover-white bg-transparent transition-all hover-opacity mr6 mb3"
        = link_to "Auditorium Virtual Tour", "//s3.uqcloud.net/eait-precinct/AEB/tour.html", class: "font-small py1 px2 border border-white white hover-white bg-transparent transition-all hover-opacity mb3"
