%a{ name: "expert-panel" }
%section.relative.w-100.bg-grey-darker.fade-in-up.xs-hide
  .absolute.h-100.min-h-100vh.w-50.flex.flex-wrap
    .w-100.opacity-min.bg-no-repeat.bg-left-center.bg-cover.grayscale{ style: "background-image: url('/assets/images/stephen-viller.jpg')" }
    .w-100.flex
      .w-50.opacity-min.bg-no-repeat.bg-left-center.bg-cover.grayscale{ style: "background-image: url('/assets/images/alex-naghavi.jpg')" }
      .w-50.opacity-min.bg-no-repeat.bg-left-center.bg-cover.grayscale{ style: "background-image: url('/assets/images/matthew-haynes.jpg')" }



%section.w-100.bg-grey-darker.section
  .max-w-1200px.mx-auto.min-h-100vh.flex.flex-auto.sm-justify-between.xs-flex-column.px3.py12.sm-pt24.sm-pb0.fade-in-up
    %h1.w-100.sm-w-45.flex.flex-column.my0.font-triple.sm-font-title.white.uppercase.left-align.sm-right-align.line-height-title.self-start
      %span Expert
      %span Panel

    %article.w-100.sm-w-45.mt6.sm-mt36.mb0.flex.flex-column.semi.line-height-large.spaced-large.uppercase.white.self-start
      .flex.flex-column.mt0.mb6
        %h6.my0.semi.font-small.sm-font-base.grey-light
          Dr. Stephen Viller
          %a.ml3.font-small.hover-white{ href: "//twitter.com/viller" } @viller
        %p.my0.bold.white.font-base.sm-font-large Researcher and educator in people centred design methods at UQ.
      .flex.flex-column.mt0.mb6
        %h6.my0.semi.font-small.sm-font-base.grey-light
          Alex Naghavi
          %a.ml3.font-small.hover-white{ href: "//twitter.com/AlexNaghavi" } @AlexNaghavi
        %p.my0.bold.white.font-base.sm-font-large Creative Director of digital ventures studio Josephmark.
      .flex.flex-column.mt0.mb6
        %h6.my0.semi.font-small.sm-font-base.grey-light
          Matthew Haynes
          %a.ml3.font-small.hover-white{ href: "//twitter.com/DesignConfBNE" } @DesignConfBNE
        %p.my0.bold.white.font-base.sm-font-large Founder of The Design Conference Brisbane and Analogue Digital Agency.

