%canvas#canvas
%section.absolute.t0.l0.r0.b0.max-w-1200px.w-100.mx-auto.min-h-100vh.h-100.flex.flex-column.flex-auto.fade-in-up
  .relative.t50-y50.sm-px6
    = partial "partials/svg/design-disruptors-logo"
    %h3.block.my6.center.semi.spaced-large.uppercase.font-small.sm-font-base
      A documentary film
      %br.md-hide.lg-hide
      about design
    .block.mx-auto.my3.center
      %a#button.inline-block.white.hover-white.hover-opacity.transition-all.spaced-large.semi.uppercase.py2.px6.bg-grey-darker{ href: "#" } Watch Trailer

  .absolute.l0.r0.b0.sm-b6.flex.xs-flex-column.justify-between.uppercase.spaced.px3
    .flex.items-baseline.xs-flex-column.mb2.sm-mb0
      %h6.my0.mr3.semi.font-smaller.sm-font-small Time
      %p.my0.bold.grey-darker.font-small.sm-font-base 6:00PM
    .flex.items-baseline.xs-flex-column.mb2.sm-mb0
      %h6.my0.mr3.semi.font-smaller.sm-font-small Date
      %p.my0.bold.grey-darker.font-small.sm-font-base 28 July 2016
    .flex.items-baseline.xs-flex-column.mb4.sm-mb0
      %h6.my0.mr3.semi.font-smaller.sm-font-small Location
      %p.my0.bold.grey-darker.font-small.sm-font-base The University of Queensland

= javascript_include_tag 'canvas.js'
