%section.absolute.t0.l0.r0.b0.max-w-1200px.w-100.mx-auto.h-100vh.flex.flex-column.flex-auto.fade-in-up
  .relative.t50-y50.sm-px6
    = partial "partials/svg/design-disruptors-logo"
    %h3.block.my6.cond.center.medium.spaced-large.uppercase design • changes • everything
    .block.mx-auto.my3.center
      %a.inline-block.white.hover-grey-dark.transition.all.spaced-large.cond.medium.uppercase.py2.px6.bg-black{ href: "#" } Get your ticket
  .absolute.l0.r0.b6.flex.uppercase.spaced.sm-px6
    .flex.flex-column.mr12
      %h6.mt0.mb1.semi.font-small Date
      %p.my0.bold.grey-darker 28 July 2016
    .flex.flex-column
      %h6.mt0.mb1.semi.font-small Location
      %p.my0.bold.grey-darker The University of Queensland, Brisbane
