%a{ name: "event-partners" }
%section.max-w-1200px.mx-auto.min-h-100vh.flex.flex-column.px3.sm-px0.py12.sm-py24.fade-in-up
  %h1.w-100.my0.font-triple.sm-font-title.grey-darker.uppercase.left-align.sm-center.line-height-title.self-start Partners
  %h4.w-100.mt3.mb0.font-base.sm-font-large.grey-dark.uppercase.left-align.sm-center Thanks to all the partners for bringing this event together
  %article.relative.max-w-800px.w-100.h-auto.mx-auto.mt6.sm-mt12
    %a.block.hover-opacity.transition-all{ href: "//www.uq.edu.au/" }
      .mb12.center= partial "partials/svg/university-of-queensland-logo"
    %a.block.hover-opacity.transition-all{ href: "//outfit.io/" }
      .mb12.center= partial "partials/svg/outfit-logo"
    %a.block.hover-opacity.transition-all{ href: "//netengine.com.au/" }
      .mb12.center= partial "partials/svg/netengine-logo"
    %a.block.hover-opacity.transition-all{ href: "//thedesignconference.com.au/" }
      %img.max-w-400px.w-100.block.mx-auto.mb12{ src: "assets/images/design-conference-logo.png", width: "400" }
    %a.block.hover-opacity.transition-all{ href: "//creativemornings.com/cities/BNE" }
      %img.max-w-400px.w-100.block.mx-auto{ src: "assets/images/creativemornings-brisbane-logo.png", width: "400" }
