%a{ name: "event-partners" }
%section.max-w-1200px.mx-auto.min-h-100vh.flex.flex-column.py24.fade-in-up
  %h1.w-100.mt0.mb4.font-title.grey-darker.uppercase.center.line-height-title Partners
  %h4.w-100.m0.font-large.grey-dark.uppercase.center Thanks to all the partners for bringing this event together
  %article.relative.max-w-800px.w-100.h-100.mx-auto.mt12.flex.flex-column.justify-center
    %a.hover-opacity.transition-all{ href: "//www.uq.edu.au/" }
      .my6.center= partial "partials/svg/university-of-queensland-logo"
    %a.hover-opacity.transition-all{ href: "//outfit.io/" }
      .my6.center= partial "partials/svg/outfit-logo"
    %a.hover-opacity.transition-all{ href: "//netengine.com.au/" }
      .my6.center= partial "partials/svg/netengine-logo"
    %a.hover-opacity.transition-all{ href: "//thedesignconference.com.au/" }
      %img.block.mx-auto.my6{ src: "assets/images/design-conference-logo.png", width: "400" }
    %a.hover-opacity.transition-all{ href: "//creativemornings.com/cities/BNE" }
      %img.block.mx-auto.my6{ src: "assets/images/creativemornings-brisbane-logo.png", width: "400" }
