%a{ name: "event-schedule" }
%section.w-100
  .max-w-1200px.mx-auto.min-h-100vh.flex.flex-auto.sm-justify-between.xs-flex-column.px3.py12.sm-py24.fade-in-up
    %h1.w-100.sm-w-45.flex.flex-column.my0.font-triple.sm-font-title.grey-darker.uppercase.left-align.sm-right-align.line-height-title.self-start
      %span Event
      %span schedule

    %article.w-100.sm-w-45.mt6.sm-mt36.mb0.flex.flex-column.semi.line-height-large.spaced-large.uppercase.grey-darker.self-start
      .flex.flex-column.mt0.mb4
        %h6.my0.semi.font-small.sm-font-base.grey 6:00PM
        %p.my0.bold.grey-darker.font-base.sm-font-large
          Drinks and Canapes
      .flex.flex-column.mt0.mb4
        %h6.my0.semi.font-small.sm-font-base.grey 6:30PM
        %p.my0.bold.grey-darker.font-base.sm-font-large Film Screening
      .flex.flex-column.mt0.mb4
        %h6.my0.semi.font-small.sm-font-base.grey 7:45PM
        %p.my0.bold.grey-darker.font-base.sm-font-large Expert Panel
      .flex.flex-column.my0
        %h6.my0.semi.font-small.sm-font-base.grey 8:30PM
        %p.my0.bold.grey-darker.font-base.sm-font-large Closing

