%a{ name: "the-team" }
%section.w-100.bg-grey-darker
  .max-w-1200px.mx-auto.min-h-100vh.flex.flex-auto.justify-between.py24.fade-in-up
    %h1.w-45.flex.flex-column.my0.font-title.white.uppercase.right-align.line-height-title.self-start
      %span The
      %span Team

    %article.w-45.mt36.mb0.flex.flex-column.semi.line-height-large.spaced-large.uppercase.white.self-start
      %a.self-start.mt0.mb4.white.hover-grey-dark{ href: "//twitter.com/im_felix" }
        .flex.items-center
          %img.block.h-50px.round.mr4{ src: "//pbs.twimg.com/profile_images/720582615309295617/1S7HWxQA_400x400.jpg" }
          %span.flex.flex-column.font-small
            %span Felix Lee
            %span @im_felix
      %a.self-start.mt0.mb4.white.hover-grey-dark{ href: "//twitter.com/abro_oks" }
        .flex.items-center
          %img.block.h-50px.round.mr4{ src: "//pbs.twimg.com/profile_images/2298337955/42_400x400.jpg" }
          %span.flex.flex-column.font-small
            %span Adam Brooks
            %span @abro_oks
      / %a.self-start.mt0.mb4.white.hover-grey-dark{ href: "//au.linkedin.com/in/ashleighthompson" }
      /   .flex.items-center
      /     %img.block.h-50px.round.mr4{ src: "//netengine.com.au/assets/images/team/ash_thompson-f048f173.jpg" }
      /     %span.flex.flex-column.font-small
      /       %span Ash Thompson
      /       %span LinkedIn
