%section.w-100.bg-grey-darker
  .max-w-1200px.mx-auto.flex.justify-center.py18.fade-in-up
    .block.mx-auto.center
      %p.mb4.white.uppercase.semi.spaced Bring along a friend — learn what design means
      %a.inline-block.white.hover-white.hover-opacity.transition-all.spaced-large.semi.uppercase.m0.py2.px6.bg-grey-darker{ href: "#" } Free tickets
