%a{ name: "watch-the-trailer" }
%section.max-w-1200px.mx-auto.min-h-100vh.flex.flex-column.py24.fade-in-up
  %h1.w-100.my0.font-title.grey-darker.uppercase.center.line-height-title Latest trailer
  %article.relative.max-w-800px.w-100.mx-auto.h-450px.mt12
    %iframe.absolute.t0.l0.w-100.h-100{ width: "800",height: "450", src: "//player.vimeo.com/video/167434033", frameborder:"0", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: "", msallowfullscreen: "", oallowfullscreen: "" }
  = link_to "More Trailers from designdisruptors.com", "//www.designdisruptors.com/", class: "block mt12 center semi uppercase spaced grey-light"
