%a{ name: "watch-the-trailer" }
%section.max-w-1200px.mx-auto.min-h-100vh.flex.flex-column.px3.sm-px0.py12.sm-py24
  %h1.w-100.flex.flex-column.my0.font-triple.sm-font-title.left-align.sm-center.line-height-title.self-start.grey-darker.uppercase Latest trailer
  %article.relative.max-w-800px.w-100.mx-auto.h-150px.sm-h-450px.my12
    %iframe.absolute.t0.l0.w-100.h-100{ width: "800",height: "450", src: "//player.vimeo.com/video/167434033", frameborder:"0", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: "", msallowfullscreen: "", oallowfullscreen: "" }
  = link_to "More Trailers from designdisruptors.com", "//www.designdisruptors.com/", class: "block my0 center semi uppercase spaced grey-light"
