%a{ name: "watch-the-trailer" }
%section.relative.w-100.fade-in-up.section{ style: 'animation-fill-mode: none;' }
  = javascript_include_tag 'http://a.vimeocdn.com/js/froogaloop2.min.js'

  .video-bg
    %h1.video-title Watch the trailer
    .play-button

  %iframe.video.absolute.t0.l0.w-100.h-100.min-h-100vh{ src: "//player.vimeo.com/video/167434033", frameborder:"0", webkitallowfullscreen: "", mozallowfullscreen: "", allowfullscreen: "", msallowfullscreen: "", oallowfullscreen: "" }
