---
title: Design Disruptors | Brisbane | 28 July 2016
---

%main.w-100.h-100.flex.flex-column.flex-auto
  = partial "partials/sections/fold"
  .relative.t100vh
    = partial "partials/sections/about"
    = partial "partials/sections/film"
  / = partial "partials/sections/event"
  / = partial "partials/sections/sponsors"
  / = partial "partials/sections/team"
  / = partial "partials/footer"
